{% extends 'base.html' %}

{% block title %}View product{% endblock %}

{% block menu %}
<li class="nav-item px-3">
    <a class="navbar-brand"  href="{% url 'product_delete' product.pk %}" >Удалить</a>
</li>
<li class="nav-item px-3">
    <a class="navbar-brand"  href="{% url 'product_update' product.pk %}" >Редактировать</a>
</li>
{% endblock %}

{% block contant %}
    <div class="row">
        <div class="col col-lg-10">
            <h1 class="pt-4"><b>Product: </b></h1>
            <h3>№{{ product.pk }}. Category: <b class="text-warning">{{ product.get_category_display }}</b></h3>
            <p>Наименование: <b>{{ product.name }} </b></p>
            <p>Description: <b>{{ product.description |linebreaksbr }}</b></p>
            <p>Остаток на складе: <b>{{ product.amount }}</b></p>
            <p>Цена за единицу: <b>{{ product.price }}</b></p>
        </div>
    <hr>
{% endblock %}

